{% extends "civ/base.html" %}
{% block content %}
<a href='/mobile/'><input data-role="button" data-inline="true" type="submit" value="Home" /></a>
<a href='/mobile/list'><input data-role="button" data-inline="true" type="submit" value="Back" /></a><br/>

{% ifequal structure.id 2 %}
<img src='/static/ccp.jpg' align="center" width='100%' height='20%' />

<div><b>Cosmos Connect Plus (CCP)</b> is a marketing-oriented and outsourcing company operating as a subsidiary under Cosmos Impact Ventures.</div><br />

<div>Our core competence lies in promoting the sale and marketing of products to ensure the sustained profitability of our clients and the satisfaction of their customers.</div><br />

<div>CCP has a vision of connecting businesses to businesses, businesses to customers and customers to customers. We are a team of qualified professionals with the business savvy and unique skills in customer relationship management.</div><br />

<div>The salient services and outsourced opportunities rendered by Cosmos Connect Plus are enumerated as follows:</div><br />
<ol>
<li><b>Public Relations & Presentations:</b> This includes providing Public Relations Services, idea pitching as well as presentations for companies and individuals who want to setup their companies.</li>
<li><b>Research & Data Entry:</b> CCP provides qualified professionals to research institutions for field interviewing and research work as well as performing data entry task.</li>
<li><b>Documentations:</b> Cosmos Connect Plus also does general documentations for businesses. Documentations that are done include drafting of business proposals, business plans, presentation slides, etc.</li>
<li><b>Ushering & Seat Filling:</b> CCP provides professionals for ushering and seat filling services.</li>
<li><b>Event Organising:</b> CCP also organises events for businessses, organisations and individuals as well.</li>
<li><b>Artisanship:</b> Cosmos Connect Plus connects you to reliable artisans who can deliver the services you require. These services include plumbing, gardening, catering, cleaning, etc.</li>
<li><b>Pick-up & Pet Services:</b> Cosmos Connect Plus also provides pick-up services of all kinds. We also offer pet services including pet nutrition, pet health and pet training</li>
</ol><br />

Cosmos Connect Plus also markets the following products:
<ol>
<li>Flushable Toilet Seat Covers by Golden Shield</li>
<li>Pozzolana Cement by Value Cycle</li>
<li>Bulk SMS by Dreamatrix</li>
<li>Exotic Indian Clothing (Sarees and Sherwani) by Glory Exotica</li>
</ol>
<div>Contact us on:<br/>
<b>Tel:</b> +233248145448<br/>
<b>Email:</b> ccp@cosmosimpact.com<br/>
<b>Address:</b><br/>
Cosmos Impact Ventures<br/>
P. O. Box DC 897,<br/>
Dansoman, Accra,<br/>
Ghana
<div><br />
{% endifequal %}

{% ifequal structure.id 4 %}
<img src='/static/vwl.jpg' align='right' width='20%' height='100%' /><h3>{{ structure }}</h3>

<div>Welcome to the Virtuous Women homepage where fashion is clearly and fully spelt out whilst beauty and glamour are given their true definition.</div><br />

<div><b>Substance:</b> A beaded jewellery enterprise dealing in the designing and making of beaded products and the retailing of health products; example Forever Living. Substance is prepared to serve both local and international markets with its beautiful African beads.</div><br />

<div><b>Glory Exotica:</b> An international fashion and apparel venture. We deal in the sale of traditional and exotic clothes imported from India and other countries.</div><br />

<div><b>Blondie:</b> A modern trendy clothing line. We print customised shirts and design fashionable bags for different occasions.</div><br />

<div><i><b>Virtuous Women:</b> Adding a celestial touch to fashion!</i></div><br />
{% endifequal %}

{% ifequal structure.id 1 %}
<h3 align="center">{{ structure }}</h3>
<div>We are licensed dealers in Diamond and Gold supply. Though we are operating from Ghana, we are heavily networked with suppliers of such minerals both within and in other African countries like Sierra Leone, Guinea, South Africa, Angola, Zimbabwe etc. GHANA AND SIERRA LEONE are our hub of operations however.</div><br />
<div>We provide shipment/export services and any other relevant interactions toward business as far as mining concessions, machine purchasing etc are concerned.</div>

<h4>DIAMONDS</h4>
<div>We are able to supply a reasonable quantity of both Industrial and Gem Stones, sawable and makeable, with all set procedures in a legal domain strictly to be observed.</div>

<h4>GOLD</h4>
<div>We supply in Kilos preferably and are able to meet 15-20 kilos per month. Higher orders are still possible based on availability. Pricing is largely influenced by the behavior of the international market price. Only reasonable negotiations are tolerated.</div>

<h4>RELIABLE PROCEDURES</h4>
<div>Every genuine buyer and seller has a primary concern, and that is trust. In the wake of fraudulent activities and other nebulous behaviors it has become more and more difficult to transact mineral business without being on edge. However, Cosmos Impact Minerals under Cosmos Impact Ventures provides a reliable and trustworthy set of procedures that are aimed at making her clients comfortable.</div><br />

<div>We thereby provide 2 major procedures based on the client's preferences. The first satisfies those who would not want to make payments upfront, who would prefer goods delivered to respective countries of origin. The second satisfies those willing to come down to Ghana or Sierra Leone on a cash and carry system.</div><br />

<ul data-role="listview" data-inset="true">
	<li>NO PAYMENTS UPFRONT</li>
	<li>CASH AND CARRY</li>
</ul>

<div><b>The preliminary step</b> to the transaction would be an LOI issued by the Buyer, indicating the type of product in which he has interest including the following: Commodity, Quantity, Carat, Colour, Clarity, Shape etc.</div>

We are looking forward to doing a reliable business with you. Contact +233244729599 for further inquiries.
{% endifequal %}

{% ifequal structure.id 6 %}
<img src='/static/eyeternal.jpg' align="right" width="20%" height="1%" /><h3>{{ structure }}</h3> <br />
<div>Beauty, they say, lies in the eyes of the beholder; nonetheless, some sights are simply breathtaking. Eye-ternal was formed with a vision to make people appreciate true beauty. This touch of beauty is exhibited in all our products.</div><br />
<div><i><b>Eye-ternal:</b> Redefining beauty through artistry!</i></div><br />

<div>The central repertoire of this subsidiary is as follows:</div><br/>
{% endifequal %}

{% ifequal structure.id 3 %}
<img src='/static/devine.jpg' width='40%' height='5%' align='right' /> <h3>{{ structure }}</h3>

<div>De Vine Pro is the agricultural subsidiary of Cosmos Impact Ventures.</div><br />

<div>We are prepared to train people to take on farming as a profession; furthermore, services are also being provided for students in the form of coaching and understudying so as to instil the passion for farming in them.</div><br />

<div><i><b>De Vine Pro</b> is here as a dependable friend for all your food and agric needs.</i></div><br />
<div>The core products of this subsidiary are stated as follows:<div><br />
{% endifequal %}

{% ifequal structure.id 5 %}
<img src='/static/makanase.jpg' align="center" width='100%' height='10%' /><br />
<br />

<div>Makanase is the multimedia media subsidiary under Cosmos Impact Ventures.</div><br/>

<div><i><b>Makanase:</b> Making a name above spirit excellence</i></div><br />

<div>Makanase has started with the establishment of a recording studio running with the theme <b>"real music is the perfection of sound"</b>.</div><br />
<div>With a vision to create the purposeful organization of sounds, Makanase seeks to go beyond mastery to define real music to a heightened level of perfection and to create the personality out of music.</div><br />

<div>As Makanase we agree with Cosmos Impact Ventures (CIV) which prefers to call the people we relate with as a generation not customers.</div><br />
{% endifequal %}

<ul data-role="listview" data-inset="true">
{% for prod in products %}
	<li>{{ prod }}</li>
{% endfor %}
</ul>

<br/>
<!--{% ifequal structure.name 'Cosmos Connect Plus' %}
<a href='/mobile/purchase'><input data-role="button" data-theme="b" data-inline="true" type="submit" value="Book" /></a><br/>
{% else %}
<a href='/mobile/purchase'><input data-role="button" data-theme="b" data-inline="true"type="submit" value="Purchase" /></a><br/>
{% endifequal %}-->
<a href='/mobile/purchase'><input data-role="button" data-theme="b" data-inline="true"type="submit" value="Purchase" /></a><br/>

{% endblock %}

